<div id="header">
  <h4>Todo App</h4>
</div>
<div id="body">
  <div class="top">
    <input type="text" id="todo" [(ngModel)]="todoInputContent"/>
    <button id="add-todo-btn" (click)="addTodo()"> Add </button>
  </div>

  <div id="main">
    <div *ngFor="let todo of todos(); index as i" class="todo-item">
      <input type="checkbox"  [name]="i" [id]="i" [checked]="todo.completed">
      <span>{{todo.content}}</span>
      <button class="delete-btn" (click)="deleteTodo(i)">🗑️</button>
    </div>
  </div>


</div>
